input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #555;
}

body{
	background: #99ccff;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
/*
.path {
  transition: width 0.4s ease-in-out;
}*/

/*.path {
  width: 100%;
}*/